:root {
   /* Primary Colors */

   --primary-pale-blue: hsla(225, 100%, 94%, 1);
   /* Pale blue */
   --primary-bright-blue: hsla(245, 75%, 52%, 1);
   /* Bright blue */


   /* Neutral Colors */
   
   --neutral-very-pale-blue: hsla(225, 100%, 98%, 1);
   /* Very pale blue */
   --neutral-desaturated-blue: hsla(224, 23%, 55%, 1);
   /* Desaturated blue */
   --neutral-dark-blue: hsla(223, 47%, 23%, 1);
   /* Dark blue */
   font-family: "Red Hat Display", sans-serif;
   font-weight:500;
}

.hero__title {
   color: var(--neutral-dark-blue);
}

.hero-desc{
   color: var(--neutral-desaturated-blue);
}

.pricing{
   background-color: var(--neutral-very-pale-blue);
}

.pricing__price-plan{
   color:var(--neutral-dark-blue);
}

.pricing__price-amount{
   color: var(--neutral-desaturated-blue);
}

